
<div class="all">  
<div class="search_home">
    <div class="search_ho">
        <h1>Rent A Car ... Make your Choice </h1>
        <!-- ::::::::::::::::: -->
        <svg viewBox="0 0 960 300">
          <symbol id="s-text">
              <text text-anchor="middle" x="50%" y="80%"> CarYaah </text>
          </symbol>      
          <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
          </g>
      </svg>
        <!-- ::::::::::::::::: -->
    <input class="in1" id="calender" type="date" placeholder="23/08/2021" min="2021-09-10" #startDate/>
    <input class="in2" id="calender" type="date" placeholder="30/08/2021 " #endDate/>
    <br/>
    <br/>
    <button id="button" type="button" (click)="findAll(startDate.value, endDate.value)">Search</button>
    <div class="car-item" *ngFor="let car of cars">
      <div class="img" style="background-image: url({{car?.image}});" ></div>
      <div class="price">
        <span>{{car?.price}} TND/DAY</span>
      </div>
      <div class="brand">
        <span>{{car?.brand}}</span>
      </div>
      <div class="image">
        <span>{{car?.image}}</span>
      </div>
    </div>
  </div>  
</div>
 </div>
 
 <app-homepage></app-homepage>
 