.gradient-custom-3 {
  /* fallback for old browsers */
  background: #f0fa84;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(211, 250, 132, 0.5),
    rgba(244, 244, 143, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #dada0c;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(211, 250, 132),
    rgb(181, 206, 55)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(244, 250, 132), rgb(132, 142, 71));
}

h2 {
  font-size: 30px;
}
input {
  height: 60px;
  font-size: 18px;
}
button {
  background: rgb(29, 36, 0);
  background-color: #b2ff5a;
  width: 150px;
  font-weight: bolder;
  font-size: larger;
}
