.all{
  background-image: url(https://wallpaperaccess.com/full/1098290.jpg);
  height:850px ;
}

.danger{
  color: crimson;
}
.card-body{
  height: 350px;
}

.my-3{
font-size: 20px;
}
.mb-1{
  font-size: 20px; 
}
.mb-4{
  font-size: 20px;  
}
