<section  class="all" style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-chat/ava3.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{client[0].name}}</h5>
            <p class="text-muted mb-1">Username</p>
            <p class="text-muted mb-4">{{client[0].adress}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Ahmed Tounsi</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{client[0].email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> 23456780</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> 97654321</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{client[0].adress}}</p>
              </div>
            </div>
            <button class='btn-favourites' (click)='toggleFavourites()'> Favourite Cars</button>
            <button class='btn-bookings' (click)='toggleBookings()'>Show Bookings</button>
            <button class="btn-danger" type="button" (click)="openDialog()" >Report An Accident</button>
            <button class="btn-feedback" type="button" (click)="showFeedBack()"  > show feedback</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf='showFavourites' class="fav-container">
    <h1>My Favourite Cars</h1>
    <div *ngFor="let car of fav" class="fav-card">
      <div class="img" style="background-image: url({{car?.image}});" (click)="info(car)"></div>
      <div class="price">
        <span>{{car?.price}} TND/DAY</span>
      </div>
      <div class="brand">
        <span>{{car?.brand}}</span>
      </div>
      <app-starrating [rating]="car.rating"></app-starrating>
    </div>
  </div>
  <div *ngIf='showBookings' class="booking-container">
    <div >
      <div  class="bookings">
        <div>
            <h1  colspan="3">My Bookings</h1>
        </div>
        <div>
            <div *ngFor='let booking of bookings'>
                <div class="booking-info">
                  <span class="mb-1">Price {{booking.total_price}} TND</span>
                  <br>
                  <span class="mb-1">Starts on {{booking.book_start}}</span>
                  <br>
                  <span class="mb-1">Ends on {{booking.book_end}}</span>
                  <br>
                </div>
                <div *ngFor='let car of cars'>
                  <div *ngIf='car.id===booking.carId'>
                    <div class="booking-card">
                      <div class="img" style="background-image: url({{car?.image}});" (click)="info(car)"></div>
                      <div class="price">
                        <span>{{car?.price}} TND/DAY</span>
                      </div>
                      <div class="brand">
                        <span>{{car?.brand}}</span>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    </div>
  </div>
  <!-- <div class="container" style=" height:95%; padding:4px; width: 850px; ">
    <form class="text-center border border-light p-5" action="#!" style="margin-left: 260px;">
      <p class="h4 mb-4" style="  font-size:32px; font-weight:bold; margin-left: 120px;" >PROVIDE US WITH YOUR FEEDBACK</p>
     
      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="firstName " style="height:50px; width: 400px; background-color:white; font-size:22px" #firstName/>
      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="lastName "  style="height:50px; width: 400px;font-size:22px" #lastName/>
      <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder=" email" style="height:50px; width: 400px; font-size:22px"  #email>
      <div class="form-group">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="message" style="height:200px; width: 400px; font-size:22px ; color:black" #message></textarea>
      </div>
      <button class="btn"  (click)="sendMessage({firstName:firstName.value, lastName:lastName.value, email:email.value,message:message.value})">Send</button>
    </form>
    </div> -->
</section>
