@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  font-family: Quicksand;
}

.card {
  justify-content: center;
  left: 5%;
  width: 350px;
  font-size: large;
  font-weight: 750px;
  margin-top: 50px;
  border-radius: 24px;
  margin-bottom: 50px;
  height: 650px;
  border: black solid;
}
.file-field{
  flex-direction: column;
  margin-left: 5%;
}
.profil {
  position: relative;
}
.card-body{
  margin-left: 5%;
}
.danger{
  width: 50%;
  justify-content: center;
}

.avatar-pic {
  position: relative;
  width: 150px;
  margin-top: 5%;
  left: 28%;
  margin-bottom: 50px;
}
