@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Quicksand;
}

.card {
  justify-content: center;
  left: 5%;
  width: 350px;
  font-size: large;
  font-weight: 750px;
  margin-top: 50px;
  border-radius: 24px;
  margin-bottom: 50px;
  height: 650px;
  border: black solid;
}

.profil {
  position: relative;
}

.avatar-pic {
  position: relative;
  width: 150px;
  margin-top: 5%;
  left: 28%;
  margin-bottom: 50px;
}
