<!-- <form class="md-form">
    <div class="form-group">
<div class="container">
    <div class="file-field">
        <div class="mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
            class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
        </div>
        <div class="d-flex justify-content-center">
          <div class="btn btn-mdb-color btn-rounded float-left">
            <span>Add photo</span>
            <input type="file">
          </div>
        </div>
      </div>
      <div class="form">
    <div *ngFor= 'let user of client' class="user">
        <div class="form1">
        <div class="name">
            <span>Name : {{user?.name}} </span>
        </div>
        <div class="email">
            <span>Email : {{user?.email}}</span>
        </div>
        <br>
        <div class="adress">
            <span>Adress : {{user?.adress}}</span>
        </div>
        </div>
    </div>
</div>
  
  
</div>
<button>Declare accident</button>
</div>

</form> -->


<!-- <form class="md-form">
    <div id="bt">
    <div  class="user1">
        <div class="form1">
        <div class="name">
            <span>Name : Ichrak </span>
        </div>
        <br>
       
        <div class="email">
            <span>Email : benaskerichrak@gmail.com</span>
        </div>
        <br>
        <div class="adress">
            <span>Adress : Tunisia</span>
        </div>
        <br>
        </div>
    </div>
    <div class="file-field">
      <div class="mb-4">
        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
          class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
      </div>
      <div class="d-flex justify-content-center">
        <div class="btn btn-mdb-color btn-rounded float-left">
          <span>Add photo</span>
          <input type="file">
        </div>
      </div>
    </div>
    </div> 

  </form> -->

  <div class="row">
    <div class="col-md-4">
        <div class="card">
    <div class="card-header">
       <h4><b>Client Profil</b></h4>
       <div class="file-field">
        <div class="mb-4">
          <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
            class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
            <input class="profil" type="file"/>
        </div>
    </div>
    <div class="card-body">
      <b> Name   </b> : {{client[0].name}}
     
     </div>
    <div class="card-body">
     <b> Email </b> : {{client[0].email}}
    
    </div>
    <div class="card-body">
     
      <b>Adress </b> : {{client[0].adress}}
     </div>
</div>
<button class="danger" type="button" class="btn btn-danger">Declare accident</button>

</div>

</div>
