<!-- <div class="top"> -->
<!-- <input id="adress" class="adress" type="text" placeholder="adress"/> -->
<!-- <input id="cal2" type="date" placeholder="23/08/2021" #startDate/>
<input class="cal2" type="date" placeholder="30/08/2021 " #endDate/> -->

<!-- </div> -->
<div>
    <div class="container">
      <h3 class="title">Price</h3>
      <div class="slidecontainer">
        <input class="inp" type="range" min="1" max="100" value="50">
      </div>
      <div class="check">
        <h3 class="title1">Type</h3>
        <input class="filter" type="checkbox"  name="vehicle1" value="car">
        <label class="label" for="cars"> Sedan</label><br>
        <input type="checkbox"  name="vehicle2" value="car">
        <label class="label" for="cars"> Van</label><br>
        <input type="checkbox"  name="vehicle3" value="car">
        <label  class="label" for="cars"> Pickup</label><br>
        <input type="checkbox"  name="vehicle4" value="car">
        <label class="label" for="cars">Mini Truck</label><br>
      </div>
      <div class="equipment">
        <h3 class="title2">Equipment</h3>
        <input class="ch1" type="checkbox"  name="vehicle1" value="car">
        <label  class="ac" for="cars"> AC</label><br>
        <input class="ch1" type="checkbox"  name="vehicle2" value="car">
        <label class="ac"  for="cars"> GPS</label><br>
        <!-- <input class="ch1" type="checkbox"  name="vehicle3" value="car">
        <label class="ac"  for="cars"> Transmission</label><br> -->
       
      </div>
    
      <!-- <div class="form-group">
        <select
          class="form-control"
          formControlName="engine"
          required
        > -->
          <!-- <option value="" class="hidden" selected disabled>
            Engine
          </option>
          <option>Petrol</option>
          <option>Diesel</option>
        </select>
      </div> -->
      
      <div class="form-group">
        <select
          class="form-control"
          formControlName="transmission"
          required
        >
      
          <option value="" class="hidden" selected disabled>
            Transmission
          </option>
          <option>Manuel</option>
          <option>Auto</option>
        </select>
      </div>
    </div>
   
</div>>
