<div class="container" style="background-color:darkseagreen;" >
    <div class="main-body">
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>Nidhal</h4>
                      <p class="text-secondary mb-1">Owner </p>
                      <p class="text-muted font-size-sm">Bizerte,Rafraf, 7015</p>
                      <div class="t" style="background-color:darkseagreen; width:450px; height:15px;"></div>
                      
                      <button class="btn btn-outline-primary " style="margin-top:20px"  >Send Message</button>
                    </div>
                  </div>
                  <button>rate a client</button>
                </div>
              </div>
              <div class="card mt-3">
      


              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3"  >
                <div class="card-body">
                  <div class="row"  >
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Kenneth Valdez
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      fip@jukmuh.al
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      (239) 816-9029
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      (320) 380-4539
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Bay Area, San Francisco, CA
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <!-- <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="row table-row"  style="background-color:white; ">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="text-center" style="width:5%"></th>
                        <th style="width:50%; font-size:25px; color:brown" >My Booking</th>
                        <th class="text-right" style="width:15%">Start Date</th>
                        <th class="text-right" style="width:15%">End Date</th>
                        <th class="text-right" style="width:15%">status</th>
                        <th class="text-right" style="width:15%">Total Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">1</td>
                        <td>Audi</td>
                        <td class="text-right">10/08/2021</td>
                        <td class="text-right">16/08/2021</td>
                        <td class="text-right">in rent </td>
                        <td class="text-right">600dt</td>
                      </tr>
                      <tr>
                        <td class="text-center">2</td>
                        <td>Audi</td>
                        <td class="text-right">08/08/2021</td>
                        <td class="text-right">1/08/2021</td>
                        <td class="text-right">Expired </td>
                        <td class="text-right">250dt</td>
                      </tr>
                      <tr>
                        <td class="text-center">3</td>
                        <td>Audi</td>
                        <td class="text-right">10/08/2021</td>
                        <td class="text-right">16/08/2021</td>
                        <td class="text-right">Expired </td>
                        <td class="text-right">450dt</td>
                      </tr>
                       <tr class="last-row">
                        <td class="text-center">4</td>
                        <td>Audi</td>
                        <td class="text-right">10/08/2021</td>
                        <td class="text-right">16/08/2021</td>
                        <td class="text-right">in rent </td>
                        <td class="text-right">1200dt</td>
                      </tr>
                     </tbody>
                  </table>
        
              </div>
              <br><br>
<!-- ******************************************************************* -->
<div class="row table-row"  style="background-color:azure;">
  <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center" style="width:5%"></th>
          <th style="width:50%; font-size:25px; color:brown"  >My cars</th>
         
          <th class="text-right" style="width:15%">type</th>
          <th class="text-right" style="width:15%">price /day</th>
          <th class="text-right" style="width:15%">Bail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">1</td>
          <td>Audi</td>
       
          <td class="text-right">A4 compact sedan </td>
          <td class="text-right">120dt </td>
          <td class="text-right">1000dt</td>
        </tr>
        <tr>
          <td class="text-center">2</td>
          <td>Kia RIO</td>
        
          <td class="text-right">subcompact</td>
          <td class="text-right">Expired </td>
          <td class="text-right">600dt</td>
        </tr>
     
       </tbody>
    </table>

</div>
<!-- ******************************************************************* -->
            </div>
          </div>

        </div>
    </div>