<div class="container">
  <div class="filter-container">
    <h3 class="title">Filter By Price</h3>
    <div class="slidecontainer">
      <span>{{rangevalue}}</span>
      <input class="inp" type="range" min='50' max='300' step='10' autocomplete="off" role="slider" value="300" (input)='priceChanged($event)'/>
    </div>
    <div class="check">
      <h3 class="title1">Type</h3>
      <input class="filter" type="checkbox" [(ngModel)]="sedan_checkbox" data-md-icheck (change)="checkbox('sedan')"/>
      <label class="label" for="cars"> Sedan</label><br />
      <input type="checkbox" [(ngModel)]="van_checkbox" data-md-icheck (change)="checkbox('van')"/>
      <label class="label" for="cars"> Van</label><br />
      <input type="checkbox" [(ngModel)]="pickup_checkbox" data-md-icheck (change)="checkbox('pickup')"/>
      <label class="label" for="cars"> Pickup</label><br />
      <input type="checkbox" [(ngModel)]="minitruck_checkbox" data-md-icheck (change)="checkbox('minitruck')"/>
      <label class="label" for="cars">Mini Truck</label><br />
    </div>
    <div class="equipment">
      <h3 class="title2">Equipment</h3>
      <input class="ch1" type="checkbox" [(ngModel)]="ac_checkbox" data-md-icheck (change)="ac($event)" />
      <label class="ac" for="cars"> AC</label><br />
      <input class="ch1" type="checkbox" [(ngModel)]="gps_checkbox" data-md-icheck (change)="gps($event)" />
      <label class="ac" for="cars"> GPS</label><br />

    </div>

    <div class="transmission">
      <h3 class="title2">Transmission</h3>
      `<input value="Auto" [(ngModel)]="auto_checkbox" type="radio" (change)="auto($event)">
      <label class="ac" for="cars"> AUTO</label><br />
      <input value="Manual" [(ngModel)]="man_checkbox" type="radio" (change)="man($event)">
      <label class="ac" for="cars">MANUAL</label><br />
    </div>
  </div>
  <div class="card-container">
    <div *ngFor="let car of cars" class="card">
      <div class="img" style="background-image: url({{car?.image}});"></div>
      <app-like-car></app-like-car>

      <div class="price">
        <span>{{ car?.price }} TND/DAY</span>
      </div>
      <div class="brand">
        <span>{{ car?.brand }}</span>
      </div>
      <app-starrating></app-starrating>
    </div>
  </div>
</div>
