<div class="container">
  <div class="filter-container">
    <h3 class="title">Filter By Price</h3>
    <div class="slidecontainer">
      <input class="inp" type="range" min="1" max="100" value="50" />
    </div>
    <div class="check">
      <h3 class="title1">Type</h3>
      <input class="filter" type="checkbox" name="vehicle1" value="car" />
      <label class="label" for="cars"> Sedan</label><br />
      <input type="checkbox" name="vehicle2" value="car" />
      <label class="label" for="cars"> Van</label><br />
      <input type="checkbox" name="vehicle3" value="car" />
      <label class="label" for="cars"> Pickup</label><br />
      <input type="checkbox" name="vehicle4" value="car" />
      <label class="label" for="cars">Mini Truck</label><br />
    </div>
    <div class="equipment">
      <h3 class="title2">Equipment</h3>
      <input class="ch1" type="checkbox" name="vehicle1" value="car" />
      <label class="ac" for="cars"> AC</label><br />
      <input class="ch1" type="checkbox" name="vehicle2" value="car" />
      <label class="ac" for="cars"> GPS</label><br />
      <!-- <input class="ch1" type="checkbox"  name="vehicle3" value="car">
        <label class="ac"  for="cars"> Transmission</label><br> -->
    </div>

    <div class="form-group">
      <select class="form-control" formControlName="transmission" required>
        <option value="" class="hidden" selected disabled></option>
        <option>Manuel</option>
        <option>Auto</option>
      </select>
    </div>
  </div>
  <div class="card-container">
    <div *ngFor="let car of cars" class="card">
      <!-- <div class="img" style="background-image: url({{ car?.image }});"></div> -->
      <app-like-car></app-like-car>

      <div class="price">
        <span>{{ car?.price }} TND/DAY</span>
      </div>
      <div class="brand">
        <span>{{ car?.brand }}</span>
      </div>

      <app-starrating></app-starrating>

      <!-- </div>
    <div class="brand">
      <span>{{ car?.brand }}</span>
    </div>
    <app-starratiDng></app-starrating>
  </div>
</div> -->
    </div>
  </div>
</div>
