<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="regForm">
        <div class="form-group">
          <label for="username" class="fa fa-user"></label>
          <input
            type="text"
            placeholder="Enter Your username"
            formControlName="username"
          />
          <span
            class="text-danger"
            *ngIf="
              regForm.controls.username.errors && regForm.controls.name.touched
            "
          >
            <br />username is Required
          </span>
        </div>

        <div class="form-group">
          <label for="password" class="fa fa-lock"></label>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <span
            class="text-danger"
            *ngIf="
              regForm.controls.password.errors &&
              regForm.controls.password.touched
            "
          >
            <br />Atleast 6 character Password is Required
          </span>
        </div>
        <div class="form-group">
          <label for="name" class="fa fa-user"></label>
          <input
            type="text"
            placeholder="Enter Your Full Name"
            formControlName="name"
          />
          <span
            class="text-danger"
            *ngIf="
              regForm.controls.name.errors && regForm.controls.name.touched
            "
          >
            <br />Full Name is Required
          </span>
        </div>
        <div class="form-group">
          <label for="email" class="fa fa-envelope"></label>
          <input
            type="email"
            placeholder="Email Address"
            formControlName="email"
          />
          <span
            class="text-danger"
            *ngIf="
              regForm.controls.email.errors && regForm.controls.email.touched
            "
          >
            <br />Invalid Email Address
          </span>
        </div>
        <div class="form-group">
          <label for="adress" class="fa fa-location on"></label>
          <input
            type="tel"
            placeholder="Your Address"
            formControlName="adress"
          />
          <span
            class="text-danger"
            *ngIf="
              regForm.controls.adress.errors && regForm.controls.adress.touched
            "
          >
            <br />Invalid Address
          </span>
        </div>

        <div class="text-center">
          <button
            id="submitButton"
            type="submit"
            class="btn btn-primary"
            [disabled]="!regForm.valid"
            (click)="register()"
          >
            Register
          </button>
        </div>
        <!-- 
        <div class="text-success" *ngIf="successMessage">
          {{ regForm.value.email }} mailId is {{ successMessage }}
        </div> -->
      </form>
    </div>
  </div>
</div>
