<!-- <p>send-email works!</p>
<div>
  <form [formGroup]="nodeMailForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter The email id you wich to send mail to:</mat-label>
      <input
        matInput
        #email
        placeholder="provide email id here"
        formControlName="email"
        type="email"
      />
    </mat-form-field>
    <br />
    <button mat-raised-button color="accent" type="submit">send</button>
  </form>
</div> -->
<div class="container">
  <div class="wrapper animated bounceInLeft">
    <div class="contact">
      <h3>Email this person</h3>
      <form method="POST" action="send">
        <p>
          <label>Name</label>
          <input type="text" name="name" />
        </p>
        <p>
          <label>Email Address</label>
          <input type="email" name="email" />
        </p>
        <p>
          <label>Phone Number</label>
          <input type="text" name="phone" />
        </p>
        <p class="full">
          <label>Message</label>
          <textarea name="message" rows="5"></textarea>
        </p>
        <p class="full">
          <button type="submit">Submit</button>
        </p>
        <i class="far fa-caret-square-left" (click)="To('/admin')"></i>
      </form>
    </div>
  </div>
</div>
