<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div class="container">
      <h3 mat-dialog-title>Email this person</h3>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" name="name" />
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input matInput type="email" name="email" #email />
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" name="phone" />
        </mat-form-field><br>
          <mat-label>Message</mat-label><br>
          <textarea name="message" rows="5" #message></textarea><br>
          <button mat-raised-button
            type="submit"
            (click)="sendMail({ email: email.value, message: message.value })">
            Submit
          </button>
</div>
