

<div class="background" style="background-color: black; padding-top:100px; padding-bottom: 300px;">
    <div class="wrapper" >
      <form >
        <div class="field">
          <input type="text" id="name" name="name" placeholder="Who are you?" autofocus  #name/>
          <label for="name" >Name</label>
        </div>
        <div class="field">
          <input type="text" id="email" name="email" placeholder="name@domain.tld" #email/>
          <label for="email">E-Mail</label>
        </div>
        <div class="field">
          <textarea id="msg" rows="4" name="msg" placeholder="You message..." #message></textarea>
          <label for="msg">Your Messege</label>
        </div>
        <input class="button" type="submit" value="Send"  (click)="sendMsg({name:name.value, email:email.value,message:message.value})"/>
      </form>
    
    </div>
  </div>