<!-- Why Choose Us -->

<div class="choose ">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Why Choose Us</h2>
          
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="choose_box">
                <span>______________________01______________________</span><br><br>
                <p>
                    <b>Flexible Pick-up </b> <br><br>
        Free delivery to Airport or your vacation resident, free delivery for rentals of more than 5 days.We also offer you an unlimited mileage arrangement so feel free to drive as far as you want during your holidays or business trip.
                </p>
             </div>
          </div>
          <div class="col-md-12">
             <div class="choose_box">
                <span>______________________02______________________</span><br><br>
                <p>
                    <b>High quality of service </b> <br><br>
                    At CarYaaH we use our years of experience to provide the highest quality service to ensure you travel smoothly and safely. We reward you with lower rates the longer you rent a car from us and you have a wide range of vehicles to choose from. We can also fit baby seats, free of charge.</p>
             </div>
          </div>
          <div class="col-md-12">
             <div class="choose_box">
                <span>______________________03______________________</span> <br><br>
                <b>Our Good Experts</b> <br><br>
                <p>Our friendly and knowledgeable staff will guide you with all touring information to make your try of our service an unforgettable experience. </p>
             </div>
          </div>
       </div>
    </div>
 
 </div>
 <app-opinion-customer></app-opinion-customer>

