@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

h2 {
  font-size: 45px;
  color: #3e3e3e;
  line-height: 50px;
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;
  font-family: Quicksand;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 40px;
}

.choose_box {
  color: #fff;
  background-color: #23262d;
  border-radius: 60px;
  border: #f6d601 solid 5px;
  padding: 20px 27px;
  display: inline-block;
  font-size: 23px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 38px;
  font-family: Quicksand;
}
b {
  font-weight: bold;
  font-size: 30px;
  font-family: Quicksand;
}

