.body {
  display: flex;
}
.listofclients {
  overflow-y: scroll;
  position: fixed;
  align-items: center;
  flex-direction: row;
  row-gap: 5px;
  background-color: #e6e6fa;
  top: 30%;
  left: 0;
  width: 45%;
  height: 400px;
  border-radius: 10px;
}
.listofowners {
  overflow-y: scroll;
  position: fixed;
  align-items: center;
  flex-direction: row;
  background-color: #e6e6fa;
  top: 30%;
  right: 0;
  width: 45%;
  height: 400px;
  border-radius: 10px;
}
