<form class="text-center">
  <div class="form-group">
    <label for="username" class="fa fa-envelope"></label>
    <input type="username" placeholder="username" #username />
  </div>

  <div class="form-group">
    <label for="password" class="fa fa-lock"></label>
    <input type="password" placeholder="Password" #password />
  </div>

  <div class="text-center">
    <button
      id="submitButton"
      type="submit"
      class="btn btn-primary"
      (click)="login(username.value, password.value)"
    >
      Login
    </button>
  </div>
</form>
<div class="container">
  <div class="navbar">nav elements</div>
  <div class="listofclients">
    <h3>CLIENTS</h3>
    <ul *ngFor="let client of clients">
      <li>{{ client.username }}</li>
      <p>{{ client.adress }}</p>
      <button (click)="deleteClient(client.id)">BAN</button>
    </ul>
  </div>
  <div class="listofowners">
    <h3>OWNERS</h3>
    <ul *ngFor="let owner of owners">
      <li>{{ owner.username }}</li>
      <p>{{ owner.adress }}</p>
      <button>BAN</button>
    </ul>
  </div>
</div>
