.form-group {
  /* display: flex; */
  background-image: url(https://wallpapercave.com/wp/wp2457240.jpg);
}
.listofclients {
  overflow-y: scroll;
  position: fixed;
  align-items: center;
  flex-direction: row;
  background-color: #fac63c;
  top: 30%;
  left: 0;
  width: 45%;
  height: 40%;
  border-radius: 10px;
}
.listofowners {
  overflow-y: scroll;
  position: fixed;
  align-items: center;
  flex-direction: row;
  background-color: #fac63c;
  top: 30%;
  right: 0;
  width: 45%;
  height: 40%;
  border-radius: 10px;
}
.btn {
  background-color: #bd5620;
  color: aliceblue;
}
