@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.container-fluid {
  height: 810px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fbf1de;
}

.listofclients {
  overflow-y: scroll;
  position: fixed;
  align-items: center;
  flex-direction: row;
  background-color: white;
  top: 30%;
  left: 0;
  width: 45%;
  height: 40%;
  border-radius: 10px;
}
.listofowners {
  overflow-y: scroll;
  position: fixed;
  align-items: center;
  flex-direction: row;
  background-color: white;
  top: 30%;
  right: 0;
  width: 45%;
  height: 40%;
  border-radius: 10px;
  margin: 0;
}
.ban {
  background-color: red;
  color: #fac63c;
  font-weight: bold;
}
.write {
  background-color: black;
  color: #fac63c;
}

.logout {
  border: none;
  border-radius: 10px;
  color: #fac63c;
  background-color: black;
}
.login {
  border-radius: 10px;
  border: none;
  color: #fac63c;
  background-color: black;
  position: fixed;
}
.inputs {
  width: 40%;
  height: 40%;
  font-size: large;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid gold;
  size: 3px;
  margin-left: 10px;
}
label {
  color: gold;
}
td {
  font-family: Quicksand;
  font-weight: bolder;
  font-size: medium;
  border: black solid;
  justify-content: center;
  text-align: center;
}
th {
  border: black solid;
  text-align: center;
}
tr {
  border: solid black;
}

table {
  border: solid black;
}

.btntable {
  margin: 7%;
}
