<div class="container-fluid">
  <div class="title">
    <div class="rows">
      <svg viewBox="0 0 960 300">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="80%">Sign Up</text>
        </symbol>

        <g class="g-ants">
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
          <use xlink:href="#s-text" class="text-copy"></use>
        </g>
      </svg>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <div class="form-group">
          <label for="email" class="fa fa-envelope"></label>
          <input type="email" #email placeholder="Email Adress" />
        </div>
        <div class="form-group">
          <label for="password" class="fa fa-lock"></label>
          <input type="password" #password placeholder="Password" />
        </div>
        <div class="form-group form-check text-center">
          <select class="select" #type>
            <option>are a car owner ?</option>
            <option>owner</option>
            <option>client</option>
          </select>
          <label class="form-check-label" for="exampleCheck1"></label>

          <div class="text-center">
            <button
              id="submitButton"
              type="submit"
              class="btn btn-primary"
              (click)="
                register({
                  email: email.value,
                  password: password.value,
                  type: type.value
                })
              "
            >
              SIGN UP
            </button>
          </div>
          <div class="text-center">
            <button class="btngologin" (click)="To('/login')">
              You are a member
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
