<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div>
        <div class="form-group">
          <label for="email" class="fa fa-envelope"></label>
          <input type="email" #email placeholder="Email Adress" />
        </div>
        <div class="form-group">
          <label for="password" class="fa fa-lock"></label>
          <input type="password" #password placeholder="Password" />
        </div>
        <div class="form-group form-check text-center">
          <select class="select" #type>
            <option>are a car owner ?</option>
            <option>owner</option>
            <option>client</option>
          </select>
          <label class="form-check-label" for="exampleCheck1"></label>
          <button (click)="To('/login')">LOGIN</button>
        </div>
        <div class="text-center">
          <button
            id="submitButton"
            type="submit"
            class="btn btn-primary"
            (click)="register(email.value, password.value, type.value)"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
