<div class="background">
<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <!-- <img class="imgInfo"src="https://lh3.googleusercontent.com/Gpn3mL6DAD6uRq260V1UOGqKFlQxBDi07wYYReTYE95kua_XhB68JK-JaE0vCbHhRxCbJdZ9HPR3dtwTOL1qklSWyU8tFiIt7jwWh8YNjrv5fqzK07Vl36_ZgHvlDpmfrMFeaoVmSC-X7X5aAJPtW9B1FG_YQSJC3Tezx4SGbndBQB2W0nOPPKMh0fXjMqQv2ILPJ7DtVM1qJys3sXRJNWjAOa7Aw51KHSzZyrlSelEIWw0Tg0lXGUJ0GIqZNYh2iYs8VvM1mqzGRwtbp22mGD-vMKB5GkEkiktGiAuBHZymWnzENAIN4CqUN1jcq5lBiRd1PcMxbSwvaAUVwv2SmaAtO0PspQzdfItEdjg_Mah0auvs8m79OSn_c2uqJCPrdwhMgYr3_Cp8vC36fyhgJystTz7SC2wGj8DvArDm_RPLB5U2J7PLvlP3BTn2xcG3OZmDNQkX-l9iMO0UmB8uC6LyVz8qxyp5y4IOCxD1XrjwjnEJSjfrieyMAduXdOPAxboZsr6vA2JzH0IHvA2xXosM3tti3LFP-PSKhVwQM3j_oKV649C05ib-epx54EW1kosEYVO3tIzKUj6PKKstnME_mTC3bt7V56CQLW8KJ--uiCLG5B8bkPbpdMO73kQvonLdgWAy5L6V_TrowyT31yKJkKcVYr599_llHpobvWuLFcQrMaxkJgIGTdMibSAyuQ7av053p_445_hJbW9xZ-zQ=w552-h334-no?authuser=0"/> -->
            </div>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li><b>Brand: </b>{{car.brand}}</li>
                    <li><b>Type:</b>{{car.type}}</li>
                    <li><b>EQUIPMENTS:</b>{{car.AC}} {{car.GPS}}</li>
                    <li><b>TRANSMISSION : </b>{{car.AUTOMATIC}}</li>
                    <li><b>START DATE Availablity : </b>{{car.start_date_av}}</li>
                    <li><b>END DATE Availablity : </b>{{car.end_date_av}}</li>
                    <li><b>PRICE : </b>{{car.price}}TND Per Day</li>
                </ul>
            </div>
            <div class="col-md-7"> <img src={{car.image}} width="90%" height="95%"> </div>
        </div>
    </div>
    <div class="footer d-flex flex-column mt-5">
        <div class="row r4">
            
            <div class="col-md-2 myt "><a href="#">Review</a></div>
            <button>back to search result</button>
            <div class="col-md-2 mio offset-md-4"><a href="#">ADD TO CART</a></div>
            <div class="col-md-2 myt ">

                <button type="button" class="btn btn-outline-warning" (click)='toRegister()'>BOOK NOW</button></div>
        </div>
    </div>
</div>
</div>