@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.background {
  background-image: url(https://wallpaperaccess.com/full/1098290.jpg);
  height: 770px;
  background-size: cover;
}
body {
  background: #ffc107;
  font-family: Quicksand;
  height: 100%;
}

.container {
  background: rgb(255 253 189) !important;
  border: none;
  border-radius: none;
}

.abc {
  padding-left: 40px;
}

.pqr {
  padding-right: 70px;
  padding-top: 14px;
}

.para {
  float: right;
  margin-right: 0;
  padding-left: 80%;
  top: 0;
}

.fa-star {
  color: rgb(223, 59, 30);
}

li {
  list-style: none;
  line-height: 50px;
  color: #000;
  font-size: 18px;
}

.col-md-2 {
  padding-bottom: 20px;
  font-weight: bold;
}

.col-md-2 a {
  text-decoration: none;
  color: #000;
}

.col-md-2.mio {
  font-size: 18px;
  padding-top: 7px;
}

.des::after {
  content: ".";
  font-size: 0;
  display: block;
  border-radius: 20px;
  height: 6px;
  width: 55%;
  background: yellow;
  margin: 14px 0;
}

.r4 {
  padding-left: 25px;
}

.btn-outline-warning {
  border-radius: 0;
  border: 2px solid yellow;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  width: 70%;
}

@media screen and (max-width: 620px) {
  .container {
    width: 98%;
    display: flex;
    flex-flow: column;
    text-align: center;
  }

  .des::after {
    content: ".";
    font-size: 0;
    display: block;
    border-radius: 20px;
    height: 6px;
    width: 35%;
    background: yellow;
    margin: 10px auto;
  }

  .pqr {
    text-align: center;
    margin: 0 30px;
  }

  .para {
    text-align: center;
    padding-left: 90px;
    padding-top: 10px;
  }

  .klo {
    display: flex;
    text-align: center;
    margin: 0 auto;
    margin-right: 40px;
  }
}
.imgInfo {
  width: 180px;
  height: 180px;
  border-radius: 140px;
}
/* **************************************************** */
.gallery {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: max-content;
  grid-gap: 1rem;
  justify-items: center;
}
/*Parameters for the Grid of images 
-display grid: will show the content in one grid 
-template-columns: sets the min and mix size of the columns for the grid depending on the size of the page 
-auto-rows: sets the heught of each row. You could set mins and max for this, but I felt like it looked better with a singular value for right now. Plus there is still a decent level of responsive transition moving from desktop to phone 
-grid gap: just used for spacing so each div isnt extremely close to the other 
*/

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*Used to ensure that the images maintain their full height and width*/

.art {
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 3px 2px 3px 2px;
}

.bio {
  color: white;
  position: absolute;
}

.art:hover {
  transform: scale(1.05);
  cursor: pointer;
  border: 5px solid white;
}
