<div class="form-control">
<h4>PROVIDE US WITH YOUR FEEDBACK</h4>
<label id="label">Name :</label>
<input class="feedback" type="text" placeholder="your name"/>
<br/>
<br/>
<br/>
<label id="label">Last Name :</label>
<input class="feedback1" type="text" placeholder="your lastName"/>
<br/>
<br/>
<br/>
<label id="label">Email :</label>
<input class="feedback2" type="email" placeholder="caryaah@gmail.com"/>
<br/>
<br/>
<br/>
<label id="label1">Message :</label>
<textarea id="feed"></textarea>
<br/>
<br/>
<button class="btn">Send</button>
</div>
<!-- <div>
<label>Name</label>
<input type="text"/>
<label>Name</label>
<input type="text"/>
</div> -->