<div class="form-control">
<h4>PROVIDE US WITH YOUR FEEDBACK</h4>
<label id="label">Name :</label>
<input class="feedback" type="text" placeholder="your name" #firstName/>
<br/>
<br/>
<br/>
<label id="label">Last Name :</label>
<input class="feedback1" type="text" placeholder="your lastName" #lastName/>
<br/>
<br/>
<br/>
<label id="label">Email :</label>
<input class="feedback2" type="email" placeholder="caryaah@gmail.com" #email/>
<br/>
<br/>
<br/>
<label id="label1">Message :</label>
<textarea id="feed" #message></textarea>

<button class="btn"  (click)="sendMessage({firstName:firstName.value, lastName:lastName.value, email:email.value,message:message.value})">Send</button>
</div>

