.form-control{
   width: 650px;
   margin-top: 50px;
   height: 450px;
   margin-left: 550px;

}
.feedback{
    margin-left: 85px;
    width:350px;
    border-radius: 24px;
    height: 35px;
}
.feedback1{
    margin-left:32px;
    width: 350px;
    border-radius: 24px;
    height: 35px;
}
.feedback2{
    margin-left: 85px;
    width: 350px;
    border-radius: 24px;
    height: 35px;
}
.feedback3{
    margin-left: 30px;
    width: 360px;
    border-radius: 24px;
}
.btn{
   margin-left: 250px;
   background-color: rgb(197, 197, 8);
}

#label{
   font-size: 25px;   
}
#feed{
    height: 120px;
    width: 350px;
    margin-left: 45px;
}
#label1{
    margin-bottom: 150px;
    font-size: 25px; 
}
h4{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}