.form-control{
   width: 750px;
   margin-top: 50px;

}
.feedback{
    margin-left: 55px;
    width:350px;
    border-radius: 24px;
}
.feedback1{
    margin-left:25px;
    width: 350px;
    border-radius: 24px;
}
.feedback2{
    margin-left: 55px;
    width: 359px;
    border-radius: 24px;
}
.feedback3{
    margin-left: 30px;
    width: 360px;
    border-radius: 24px;
}
.btn{
   margin-left: 250px;
   background-color: rgb(197, 197, 8);
}